html,
body {
  width: 100%;
  overflow-x: hidden;
}
a {
  cursor: pointer;
  color: #ff4544;

  text-decoration: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
svg {
  display: block;
}

.gallery-itme-image-wrapper img {
  object-fit: cover !important;
  border: 10px solid red;
}

/* scrollbar--------------------- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff30;
  border-radius: 1rem;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff60;
}

/* Forms-------------------------- */

input,
textarea {
  width: 100%;
  font-family: inherit;
  border-color: rgba(226, 232, 240);
  color: #fff;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-radius: 0.25rem;
  border: none;
  /* outline-offset: -2px; */
  /* margin-bottom: 0.5rem; */
  /* border: 1px solid rgb(237, 242, 247); */
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 1rem;
  background: #33363d;
}
input:focus. textarea:focus {
  border-color: #ff4544;
}
input::placeholder,
textarea::placeholder {
  color: #babbbd;
  font-size: 1rem;
  font-weight: 400;
}

.error-wrapper {
  color: red;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-radius: 0.25rem;
  outline-offset: -2px;
  margin-bottom: 0.5rem;
  border: 1px solid red;
  min-height: 38px;
  background: rgba(255, 0, 0, 0.1);
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 1rem;
  width: 100%;
  cursor: not-allowed;
}

/* List Spacing------------------- */
.list-spacing-sml > *:not(:last-child) {
  margin-right: 0.5rem;
}
.list-spacing-med > *:not(:last-child) {
  margin-right: 1rem;
}
.list-spacing-lg > *:not(:last-child) {
  margin-right: 2rem;
}
.vert-space-sml > *:not(:last-child) {
  margin: 0;
  margin-bottom: 0.5rem;
}

.vert-space-med > *:not(:last-child) {
  margin: 0;
  margin-bottom: 1rem;
}
/* FLEXBOX---------------------- */
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-align-top {
  display: flex;
  align-items: flex-start;
}
.flex-align-bottom {
  display: flex;
  align-items: flex-end;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-justify-right {
  display: flex;
  justify-content: flex-end;
}
.flex-justify-btw {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
